/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');

/* Variable */
:root{
    --primary-color:#0b4163;
    --primary-font:'Fredoka', sans-serif;
    --transition: 0.3s ease-in-out;
}
h1,h2,h3,h4,h5,h6,p,span,a,input{
    font-family: var(--primary-font);
}
/* Reset Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}

img{
    width: 100%;
    object-fit: cover;
}
/* Over Write Class */
ol,ul{
    margin: 0 !important;
    padding: 0 !important;
}
.dropdown-menu {
    width: 320px;
}
/* Default Styles */

/* Navbar Class */
.header{
    box-shadow: 0 5px 5px 5px #ddd;
    height: 70px;
}

.logo{
    border-radius: 100%;
    width: 35px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.nav_left {
    position: relative;
}

.nav_middle {
    width: 35%;
    text-align: center;
}

.nav_middle ul {
    display: flex;
}

.nav_middle ul li {
    margin-right: 2em;
    width: 100%;
}

.nav_middle ul li.active{
    border-bottom: 4px solid var(--primary-color);
}
.nav_middle ul li.active a{
    color: var(--primary-color);
}
.nav_left i {
    position: absolute;
    top: 16px;
    left: 60px;
    color: #adaaaa;
}

.search {
    width: 250px;
    border: none;
    background: #f0f2f5;
    padding: 1em 2.5em;
    border-radius: 50px;
    outline: none;
    margin-left: 0.5em;
    height: 45px;
}

.nav_middle ul li a {
    font-size: 2em;
    color: #959595e3;
}

.nav_right {
    display: flex;
    gap: 1em;
    align-items: center;
}

.profile img {
    width: 30px;
    border-radius: 100%;
    margin-right: 0.5em;
}

.icon {
    width: 40px;
    height: 40px;
    background: #e4e6eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 100%;
    cursor: pointer;
    font-weight: 800;
}

.dot_menu {
    padding: 1em;
}

.messagner {
    padding: 1em;
}

.messagner_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_grp {
    display: flex;
    align-items: center;
    margin-left: 2em;
}
.room_chat h5 {
    margin-bottom: 0px;
}

.room_chat p {
    font-size: 0.8em;
    color: #a1a1a1;
}

.notification {
    padding: 1em;
}

.noti_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.noti_header h3 {
    font-size: 1em;
}

.new_noti {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.noti_btn {
    margin-top: 1em;
}

.notification_main {
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
}

.user_say p {
    font-size: 0.8em;
    color: #878383;
    margin-bottom: 0px;
}

.user_say span {
    color: #878383;
    font-size: 0.5em;
}

.user_img {
    position: relative;
}

.user_img img {
    width: 40px;
    border-radius: 100%;
}

.comment {
    position: absolute;
    top: 25px;
    width: 20px;
    right: 0px;
}

.more {
    padding: 1em;
    width: 320px;
}

.feadback {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

/* Home Section Start Here */
.home{
   background-color: #f0f2f5;
}

.wrapper{
    padding: 1em;
}
.left_box{
    margin-top: 1em;
    cursor: pointer;
    gap: 0.6em;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.left_box img {
    width: 40px;
    border-radius: 100%;
    margin-right: 0.5em;
}

.row_container {
    display: flex;
    justify-content: space-between;
}

/* Post Styles Here */
.story_main {
    display: flex;
    gap: 1em;
    padding: 1em;
}

/* Story Styles Here */

.story {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    max-width: 110px;
}

.porfile img {
    width: 40px;
    border-radius: 100%;
    border: 3px solid var(--primary-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.story:hover .porfile img {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}


.story_img img {
    border-radius: 20px;
    transition: var(--transition);
}
.story:hover .story_img img {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.porfile {
    position: absolute;
    top: 20px;
    left: 10px;
}

.story p {
    font-size: 0.9em;
    position: absolute;
    bottom: 0px;
    left: 20px;
    color: #fff;
}


/* Create Post */

.create_post {
    background: #fff;
    padding: 1em;
    margin-top: 1.5em;
    box-shadow: 0 5px 5px 5px #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.create_post_header {
    display: flex;
    gap: 0.5em;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 1em;
}

.create_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}

.video img {
    width: 30px;
    margin-right: 0.5em;
}

.video {
    cursor: pointer;
}

.create_p {
    border: none;
    background: #e7e7e7;
    width: 100%;
    outline: none;
    border-radius: 100px;
}

/* Create Room */
.create_room {
    background: #fff;
    padding: 1em;
    margin-top: 1.5em;
    box-shadow: 0 5px 5px 5px #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: flex;
    gap: 1em;
}

.room_btn {
    border: 2px solid #ddd;
    border-radius: 50px;
    padding: 1em;
    cursor: pointer;
    color: #216fdb;
    font-weight: 400;
    font-family: var(--primary-font);
}

.room_container {
    display: flex;
    gap: 1em;
    align-items: center;
}
.room_people{
    position: relative;
    cursor: pointer;
}

.dot {
    position: absolute;
    bottom: 5px;
    right: 2px;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50px;
}

.room_people img {
    width: 50px;
    border-radius: 100%;
}

/* Post Single */

.post_single {
    background: #fff;
    margin-top: 1.5em;
    box-shadow: 0 5px 5px 5px #ddd;
    width: 780px;
}

.like_count img {
    width: 15px;
}

.post_left {
    display: flex;
    align-items: center;
}

.post_left .profile img {
    width: 60px;
}

.post_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.post_right {
    font-size: 2em;
}

.post_img {
    margin-top: 1em;
}

.like_count {
    padding: 1em;
    border-bottom: 2px solid #f5f5f5;
}

.lcs {
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

.lcs button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.5em;
    font-family: var(--primary-font);
    color: #565656;
}

.like_btn.active{
    color: #216fdb;
}

/* sponsor */
.sponsor {
    flex: 0.5;
    padding: 1em;
}

.spons_post img {width: 150px;border-radius: 10px;}

.spons_post {
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    margin-top: 1em;
}

.sponsor_area{
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 1.5em;
}

.contract_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_grp i {margin-right: 1em;color: #818181;}

.single_contract {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}

/* Friend  */
.friends{
    background-color: #f0f2f5;
    height: 100%;
}

.friends_container{
    padding: 1em;
}

.friend_req {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friendContainer {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    margin-top: 1em;
}

.friend_card {
    max-width: 205px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 5px 5px 5px #ddd;
    border-radius: 7px;
}

.fri_content {
    padding: 0.5em;
}

.fri_content img {
    width: 20px;
    border-radius: 100%;
}

.friend_btn button{
    width: 100%;
    margin-top: 0.5em;
}

.fri_content h3 {
    font-size: 1.3em;
}